*{
margin: 0;
padding: 0;
font-family: verdana;
}
#main{
    width: 100%;
    height: 120vh;
    background-image:url(shara\ desert.jpg);
    background: cover;
    max-width: 1400px;
    
}  
@media screen and (max-width: 856px) 
.main{
    width:100%;
    display:block
    
}
  
nav{
    width: 100%;
    height: 80px;
background-color: #0001;
line-height: 80px;
margin-top: 30px;
}
nav ul{
    float: right;
    margin-right: 30px;
}


nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 30px;
}
nav ul li:hover{
background-color: yellowgreen;
}
.bar{
    float: right;
    margin-top: 10px;
}
.main{
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    
}
.main2{
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
     
}
.upper{
    float: right;
    
}

.modi:hover{
transform: translate(-10px);
}


.modi{
    
    border-radius: 20px;
    margin: 30px;
}
.white{
    font-size: 80px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.white2{
    color: white;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.white3{
    width: 250px;
    height: 50px;
    border-radius: 20px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.saha{
    position: relative;
    left: 10%;
    top: 35%;
}
















